name: Backend RuboCop

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    backend-rubocop:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

            - name: Check for backend changes
              uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
              id: filter
              with:
                  filters: |
                      backend:
                        - 'blog-api/**'
                        - '.github/workflows/backend-rubocop.yml'

            - name: Setup Ruby
              if: steps.filter.outputs.backend == 'true'
              uses: ruby/setup-ruby@a2bbe5b1b236842c1cb7dd11e8e3b51e0a616acc # v1.202.0
              with:
                  ruby-version: "3.3.6"
                  bundler-cache: true
                  working-directory: blog-api

            - name: Run RuboCop
              if: steps.filter.outputs.backend == 'true'
              working-directory: blog-api
              run: bin/rubocop
