name: Frontend Tests

on:
    push:
        branches:
            - main
        paths:
            - "blog-client/**"
            - ".github/workflows/frontend-test.yml"
    pull_request:
        branches:
            - main
        paths:
            - "blog-client/**"
            - ".github/workflows/frontend-test.yml"

jobs:
    test:
        runs-on: ubuntu-latest

        defaults:
            run:
                working-directory: blog-client

        steps:
            - name: Checkout code
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

            - name: Setup Node.js
              uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
              with:
                  node-version: "20"
                  cache: "npm"
                  cache-dependency-path: blog-client/package-lock.json

            - name: Install dependencies
              run: npm ci

            - name: Run unit tests
              run: npm test -- --run --project=unit
